%title-fonts {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.45px;
    color: #141414;
}

%description-fonts {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #555555;
}